.docs-container {
    display: flex;
    height: calc(100vh - 40px);
    overflow-y: scroll;

    .collection-header {
        padding-top: 8px;
        display: flex;
        justify-content: space-between;

        .reload-icon {
            cursor: pointer;
        }
    }
    .docs {
        flex-grow: 1;
        padding: 24px;
        padding-top: 0px;
    }
}
