.collection-list {
    padding: 8px;
    .nav-container {
        margin-left: -24px;
        ul {
            padding-left: 24px;
            margin-top: 8px;
            margin-left: 0px;
            list-style: none;
        }
    }
}
