@import '../../css-constants';

.collection-nav {
    .collection-list {
        padding-left: 16px;
        font-size: 11.5pt;
        height: calc(100vh - #{$controls-height} - #{$header-height});
        overflow-y: scroll;

        .nav-container {
            margin-left: -24px;

            ul {
                padding-left: 16px;
                margin-top: 8px;
                margin-left: 0px;
                list-style: none;

                li {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .controls {
        height: $controls-height;
        display: flex;

        .control {
            flex-grow: 1;
            border-bottom: 1px solid #d2d2d2;
            border-left: 1px solid #d2d2d2;
            display: flex;

            align-items: center;
            justify-content: center;
        }

        .control:hover {
            color: white;
            background-color: grey;
        }
    }
}
