@import '../css-constants';

.main {
    .columns {
        display: flex;

        .resizer {
            width: 2px;
            border: 0px;
            cursor: col-resize;
            flex-shrink: 0;
            background-color: #d2d2d2;
        }

        .nav {
            flex-shrink: 0;
            min-width: 200px;
        }

        .docs-col {
            flex-grow: 1;
            height: calc(100vh - #{$header-height});

            .tab-panel {
                height: calc(100vh - #{$tab-height} - #{$header-height});
                overflow-y: scroll;
                padding: 8px;
            }
        }
    }
}
