.main {
    display: flex;

    .resizer {
        width: 5px;
        border: 0px;
        cursor: col-resize;
        flex-shrink: 0;
        background-color: #ededed;
    }

    .nav {
        flex-shrink: 0;
        min-width: 50px;
    }

    .docs-col {
        flex-grow: 1;
        height: 100vh;
        overflow-y: scroll;
    }
}
